<h2>Редактирование справки</h2>
<%= render 'form', url: admin_help_path(@help) %>

<% content_for :left do %>
    <%= link_to "Назад к справке", admin_help_path(@help) %><br>
    <%= link_to "К списку всех справок", admin_helps_path %>
<% end %>
