<h2>Помощь</h2>
<% if @helps.any? %>
    <ul class="list-style-type-none">
      <% @helps.each do |one| %>
          <li><%= link_to one.number_with_name, admin_help_path(one) %></li>
      <% end %>
    </ul>
<% else %>
    <i>Нет ещё ни одной справки.</i> <%= link_to "Создать новую", new_admin_help_path %>
<% end %>
<% content_for :submenu do %>
    <li><%= link_to "Новая справка", new_admin_help_path %></li>
<% end %>

