/[if lt IE 9]
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
/[if lt IE 8] <haml:loud> stylesheet_link_tag 'blueprint/ie' </haml:loud>
:javascript
  var CKEDITOR_BASEPATH = '/assets/ckeditor/';
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"
= csrf_meta_tags
