// Place all the styles related to the standard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin round {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}

.standard-list {
  list-style: none;
  a {
  padding: 3px 2px 2px 2px; //top, right, bottom, left
  cursor: pointer;
  }
  a:hover {
    background-color: #ccc;
    @include round;
  }
}

.children {
  margin-top: 10px;
  a {
    display: block;
  }
}
