// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p#big {
  color: #ff0000;
  font-size: 45px;
}

.tr26 {
  border: 2px solid #000;
}

.blockAllContent, .blockContent {
  display: none;
  padding-left: 20px;
  padding-bottom: 1px;
}
.blockNameInBlock {
  font-size: 30px;
  padding-bottom: 5px;
}

.blockName {
  padding: 3px 2px 2px 2px; //top, right, bottom, left
  cursor: pointer;
}
.blockContentWatchAll {
  padding: 3px 2px 2px 2px;
  display: table;
  cursor: pointer;
  color: #0066cc;
}
.point {
  padding: 2px 5px 3px 5px;
  cursor: cursor;
  display: table;
}

.over {
  background: #ccc;
}

.imgOpenBlock {
  cursor: pointer;
}
