<h2>Информация о пользователе</h2>
<p><%= @user.profile.name %></p>
<p><%= @user.profile.surname %></p>
<p><%= @user.profile.patronymic %></p>
<p><%= @user.profile.mail %></p>

<% render "layouts/admin_left_column" %>