- content_for :left do
  = link_to t(".users"), admin_users_path
  %br/
  = link_to t(".profiles"), admin_profiles_path
  %br/
  = link_to t(".companies"), admin_companies_path
  %br/
  = link_to t(".session_history"), admin_session_histories_path