<h2>Редактирование черновика</h2>

<%= render 'form' %>

<% content_for :left do %>
    <%= link_to "Назад к черновику", @draft %><br>
    <%= link_to "К списку всех черновиков", drafts_path %><br>
<% end %>
