<h2>Черновики</h2>
<% if !@drafts.blank? %>
    <ul class="standard-list">
      <% @drafts.each do |one| %>
          <%= content_tag :li, (link_to one.name, one) %>
      <% end %>
    </ul>
<% else %>
    Черновиков ещё нет, <%= link_to "создать?", new_draft_path %>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Новый черновик", new_draft_path %></li>
<% end %>
<% content_for :left do %>

<% end %>
