- content_for :submenu do
  %li= link_to t(".edit_user_link"), edit_user_path
  %li= link_to t(".edit_profile_link"), edit_user_profile_path
  %li= link_to t(".edit_company_link"), edit_user_company_path