<% if obj.errors.any? %>
    <div id="error_explanation">
      <h2>Обнаружен<%= obj.errors.count == 1 ? "а 1 ошибка" : "ы " + obj.errors.count.to_s + " ошибки"%></h2>
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>